@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=cyrillic');
/* font-family: 'Open Sans', sans-serif; */
@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/ProximaNova-Regular.ttf") format("truetype"),
	url("../fonts/ProximaNova-Regular.woff") format("woff"),
	url("../fonts/ProximaNova-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal
}@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");	
	font-weight: normal;
	font-style: normal
}@font-face {
	font-family: "OpenSansLight";
	src: url("../fonts/OpenSans-Light.ttf") format("truetype");	
	font-weight: normal;
	font-style: normal
}@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSans-Bold.ttf") format("truetype");	
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: "OpenSansSemibold";
	src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");	
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: "OpenSansExtraBold";
	src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");	
	font-weight: normal;
	font-style: normal
}

*, *::before, *::after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	min-width: 1280px;
}
.centerBlock{
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 26px;
	padding-right: 26px;
}
.clearfix::after{
	display: block;
	content: "";
	clear: both;
}
.mainHeader{
	background: url('../images/header.jpg') center center no-repeat;
	background-size: cover;
}
.topHeader{
	background: #2e3036;
	background: -moz-linear-gradient(left,  #2e3036 0%, #2e3036 50%, #ffffff 50%, #ffffff 100%);
	background: -webkit-linear-gradient(left,  #2e3036 0%,#2e3036 50%,#ffffff 50%,#ffffff 100%);
	background: linear-gradient(to right,  #2e3036 0%,#2e3036 50%,#ffffff 50%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3036', endColorstr='#ffffff',GradientType=1 );
}
.topHeader .centerBlock{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 26px;
	background: #2e3036;
	background: -moz-linear-gradient(left,  #2e3036 0%, #2e3036 20%, #ffffff 20%, #ffffff 100%);
	background: -webkit-linear-gradient(left,  #2e3036 0%,#2e3036 20%,#ffffff 20%,#ffffff 100%);
	background: linear-gradient(to right,  #2e3036 0%,#2e3036 20%,#ffffff 20%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3036', endColorstr='#ffffff',GradientType=1 );
}
.headerNav{
    flex-grow: 1;
    max-width: 840px
}
.mainNav, .userLink, .userLink span{
	display: inline-block;
    vertical-align: middle;
} 
.mainNav__menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}
.mainNav__menu li{
	display: inline-block;
	margin-right: 60px;
	margin-right: 2vw;
}
.mainNav__menu li:last-child{
	margin-right: 0;
}
.mainNav__menu li a, .userLink{
	font: 400 16px 'Open Sans', sans-serif;
	color: #000;
	text-decoration: none;
}
.mainNav__menu li a:hover, .mainNav__menu li.active a{
	border-bottom: 1px solid #000;
}
.userLink{
	margin-left: 40px;
}
.userLink img{
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
	border-radius: 100%;
}
.header__info{
	padding: 90px 0;
	text-align: center;
}
.header__heading{
	max-width: 720px;
	margin: 0 auto;
	font: 800 36px 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
}
.appLinks{
	margin-top: 1em;
}
.header__filter{
	margin-top: 5em;
}
.header__filter form > *{
	display: inline-block;
	vertical-align: middle;
}
.header__filter legend{
	margin-bottom: 1em;
	font: 800 18px 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
}
.header__filter input[type="checkbox"]{
	display: none;
}
.header__filter input[type="checkbox"] + label{
	display: inline-block;
	width: 55px;
	height: 55px;
}
.header__filter label[for="headerFilter1"]{background: url('../images/filterIcon-1.png') center center no-repeat;}
.header__filter label[for="headerFilter2"]{background: url('../images/filterIcon-2.png') center center no-repeat;}
.header__filter label[for="headerFilter3"]{background: url('../images/filterIcon-3.png') center center no-repeat;}
.header__filter label[for="headerFilter4"]{background: url('../images/filterIcon-4.png') center center no-repeat;}
.header__filter label[for="headerFilter5"]{background: url('../images/filterIcon-5.png') center center no-repeat;}
.header__filter label[for="headerFilter6"]{background: url('../images/filterIcon-6.png') center center no-repeat;}
.header__filter label[for="headerFilter7"]{background: url('../images/filterIcon-7.png') center center no-repeat;}
.header__filter label[for="headerFilter8"]{background: url('../images/filterIcon-8.png') center center no-repeat;}
.header__filter label[for="headerFilter9"]{background: url('../images/filterIcon-9.png') center center no-repeat;}
.header__filter label[for="headerFilter10"]{background: url('../images/filterIcon-10.png') center center no-repeat;}

.header__recreationInfo input,  .header__recreationInfo select, .header__filter button{
	height: 45px;
	padding: 0 15px;
	outline: none;
	background: #fff;
	border: none;
}
.header__recreationInfo input,  .header__recreationInfo select{
	color: #5baafa;
}
.header__filter button{
	background: #5baafa;
	color: #fff;
}

/***************************************************************************************/

.tour, .attraction, .services{
	padding: 30px 0;
}
.sectionHeading{
	margin: 0 0 2rem;
	font: 700 23px 'Open Sans', sans-serif;
	color: #2e3036;
	text-transform: uppercase;
}
.sectionHeading::before{
	content: "";
	position: relative;
	display: inline-block;
	vertical-align: middle;
	background: #2e3036;
	width: 25px;
	height: 2px;
	margin-top: -1px;
	margin-right: 5px;
}
.moreLink{
	float: right;
	font: 14px 'Open Sans', sans-serif;
	color: #2e3036;
	text-decoration: none;
	border-bottom: 1px dashed #2e3036;
}
.moreLink:hover{
	border-bottom-style: solid;
}

/***************************************************************************************/

.tourList, .tourItem{
	font-size: 0;
}
.tourItem{
	display: inline-block;
	display: inline-flex;
	width: 49%;
	vertical-align: top;
	margin-bottom: 2%;
	font-size: initial;
}
.tourItem:nth-child(odd){
	margin-right: 2%;
}
.tourItem__info{
	padding: 15px;
	border: 1px solid #f1f1f1;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tourItem h3, .attractionItem__info h3{
	font: 700 20px 'ProximaNova', sans-serif;
	margin: 0 0 5px;
}
.tourItem h3 a, .attractionItem__info h3 a, .servicesItem__info h3 a{
	color: #000;
	text-decoration: none;
}
.tourItem h3 a:hover, .attractionItem__info h3 a:hover, .servicesItem__info h3 a:hover{
	text-decoration: underline;
}
.tourItem__place{
	font: 10px 'ProximaNova', sans-serif;
	color: #5baafa;
}
.tourItem__place img{
	margin: 0 5px -2px 0;
}
.tourItem__description p, .attractionItem__info p{
	font: 12px 'ProximaNova', sans-serif;
}
.tourItem__kakietoEbanutieIkonki span{

}
.tourItem__date{
	font: 10px 'Open Sans', sans-serif;
}
.tourItem__date b{
	display: block;
	font-weight: bold;
	font-size: 15px;
}

.attraction{
	background: #f6f7f7;
}
.attractionItem__wrapper{
	position: relative;
}
.attractionItem__place{
	position: absolute;
	right: 15px;
	bottom: 10px;
	font: bold 15px 'Open Sans', sans-serif;
	color: #fff;
	z-index: 1;
}
.attractionItem__wrapper::after{
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}
.attractionItem__info{
	padding: 15px;
	background: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.owl-dots{
	margin-top: 50px;
	text-align: center;
}
.owl-dot{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	background: #2e3036;
	border: 5px solid #2e3036;
	border-radius: 100%;
}
.owl-dot.active{
	background: #fff;
}

/***************************************************************************************/

.servicesList{
	font-size: 0;
}
.servicesItem{
	display: inline-block;
	margin-bottom: 2%;
	vertical-align: top;
	width: 33.333333%;
	font-size: initial;
}
.servicesItem{
	position: relative;
}
.servicesItem img{
	display: block;
}
.servicesItem__info{
	width: 94%;
	height: 94%;
	position: absolute;
	left: 0;
	top: 0;
	margin: 3%;
	padding: 10px;
	border: 6px solid transparent;
	text-align: center;
}
.servicesItem__info h3{
	margin: 50% -0px 0;
	font: 800 24px 'Open Sans', sans-serif;
	transform: translateY(-50%);
}
.servicesItem__info h3 a{
	color: #fff;
}
.servicesItem__text{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	margin: 0 auto;
	visibility: hidden;
}
.servicesItem__text p{
	font: 10px 'Open Sans', sans-serif;
	color: #fff;
}
.servicesItem:hover .servicesItem__info{
	border-color: #fff;
}
.servicesItem:hover .servicesItem__text{
	visibility: visible;
}

/***************************************************************************************/

.mainFooter{
	margin-top: 30px;
	background: url('../images/footer.jpg') center center no-repeat;
	font-size: 0;
}
.footerWrapper{
	width: 50%;
	padding-top: 45px;
	display: inline-block;
	vertical-align: top;
	font-size: initial;
}
.footer__block{
	margin-bottom: 25px;
}
.footer__heading{
	margin-bottom: 15px;
	font: 700 18px 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
}
.mainFooter ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer__block ul li{
	padding: 5px 0;
	margin-right: 10px;
	display: inline-block;
}
.footer__block ul a{
	font: 14px 'Open Sans', sans-serif;
	color: #a2a2a2;
	text-decoration: none;
}
.footer__block ul a:hover, .footer__nav li a:hover, .footer__copyright a:hover{
	text-decoration: underline;
}
.footer__nav li{
	width: 32%;
	margin-bottom: 10px;
	display: inline-block;
}
.footer__nav li a{
	font: 18px 'Open Sans', sans-serif;
	color: #fff;
	text-decoration: none;
}
.footer__copyright{
	margin-top: 30px;
}
.footer__copyright a{
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
	text-decoration: none;
}
.footer__contacts{
	margin: 30px 0;
	font-size: 0;
}
.footer__contacts > *{
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	font-size: initial;
}
.footer__contacts p{
	margin: 0;
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
}
.footer__contacts p::before{
	position: relative;
	display: block;
	margin-right: 10px;
	float: left;
	content: "";
	width: 29px;
	height: 37px;
	background: url('../images/icon-place--big.png') center center no-repeat;
}
.footer__social{
	padding-left: 25px;
}
.footer__social a{
	margin-right: 15px;
}
.footer__social a:last-child{
	margin-right: 0;
}

/****************************pop up registr new style****************************/
.reg-block{
	display: flex;
	justify-content: space-between;
	max-width: 1230px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
}
.left-content-reg{
	width: 70%;
}
.right-content-reg{
	width: 30%;
}
.left-content-reg h1{
    font-size: 16px;
    font-family: "OpenSans";
    color: #2e3036;
    font-weight: 200;
    padding: 19px 21px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;

}
.reg-block-content{
	    padding: 0 21px;
	    margin: 50px 0;
}
.formContent{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.formContent span{
	font-size: 12px;
	font-family: "OpenSans";
	margin-bottom: 10px;
	display: inline-block;
}
.formContentLeft{
	width: 48.5%;
}
.formContentRight{
	width: 48.5%;
}
.soc-icons-reg{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 30%;
	margin-top: 2%;
}
.rightContentReg{
	width: 383px;
}
.img-reg{
	background-image: url(../images/reg-img.png);
	-webkit-background-size: 150% 120%;
	background-size: 150% 120%;
	width: 100%;
	height: 100%;
	background-position: 29% 14%;
	background-repeat: no-repeat;
}
.SignInProfile{
	font: 400 16px 'Open Sans', sans-serif;
	color: #000;
	text-decoration: none;
	margin-left: 2vw;
}
.SignInProfile > img{
	vertical-align: middle;
	margin-right: 9px;
}
.successReg{
	padding: 47px 50px;
	width: 100%;
	height: 100%;
	background-color: #47c94b;
}
.successRegContent{
	margin: 80px 0;
}
.successPaint{
	width: 150px;
	height: 150px;
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 50%
}
.successIcon{
	 position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	height: 47px;
	width: 64px;
}
.successIcon > img{
	width: 100%;
	height: 100%;
}
.successRegDown > h2{
	font-size: 16px;
	font-family: "OpenSansSemiBold";
	color: #fff;
	text-align: center;
	margin: 30px 0 20px 0;
}
.successRegDown > span{
	color: #fff;
	font-size: 12px;
	font-family: "OpenSansLight";
	text-align: center;
	display: block;
	margin: 0 auto;
}
/**********************************Стили для pop up окна********************************/
form > input {
	outline: 0;
}
.pop-up-main{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(46, 48, 54, 0.50);
	z-index: 15;
	display: none
	
}
.header__info{
	position: relative;
}
.content-pop-up-main{
	top: 128px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 408px;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}
.tab-item-reg{
	position: relative;
}
.close-pop-up-reg{
	position: absolute;
    top: -110px;
    right: -40px;
}
.tabs-reg-user{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 25px;
}
.sign-in{
	padding: 13px 40px;
	border-top-left-radius: 5px;
	background-color: #2e3032;
	width: 50%;
}
.sign-in a{
	text-decoration: none;
	font-family: "OpenSans";
	font-size: 18px;
	color: #fff ;
}
.sign-in:hover{
	cursor: pointer;
}
.registr{
	padding: 13px 40px;
	border-top-right-radius: 5px;
	background-color: #2e3032;
	width: 50%;
}
.registr a{
	text-decoration: none;
	font-family: "OpenSans";
	font-size: 18px;
	color: #fff ;
}
.registr:hover{
	cursor: pointer;
}
.active-registr{
	background-color: #fff !important;
	
}
.active-registr a{
	color: #2e3036	;
}
#sign-in-form{
	padding: 0 20px;
}
#reg-form{
	padding: 0 20px;
}
.sign-in-inp{
	outline: 0;
	width: 100%;
	border: 1px solid #e0e0e0;
	padding: 15px 14px;
	font-size: 12px;
	font-family: "OpenSans";
	border-radius: 5px;
	margin-bottom: 20px;
}
.registr-but{
	outline: 0;
	border: 0;
	width: 100%;
	margin-bottom: 20px;
	padding: 12px 0;
	background-color: #2e3036;
	color: #fff;
	font-size: 14.45px;
	text-transform: uppercase;
	font-family: "OpenSansExtraBold";
	border-radius: 5px;
}
.registr-but:hover{
	cursor: pointer;
}
.down-block-sign-in{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	height: 24px;
}
.soc-icons-sign-in{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 30%;
}
.zabil-pass a{
	font-size: 12px;
	text-decoration: none;
	font-family:"OpenSans";
	color: #2e3036;
}
.reg-inp{
	outline: 0;
	width: 100%;
	border: 1px solid #e0e0e0;
	padding: 15px 14px;
	font-size: 12px;
	font-family: "OpenSans";
	border-radius: 5px;
	margin-bottom: 20px;
}
.error{
	border: 1px solid red;
	-webkit-box-shadow: 0 0 3px red;
	box-shadow: 0 0 3px red;
}
.conf{
	border: 1px solid green;
	-webkit-box-shadow: 0 0 3px green;
	box-shadow: 0 0 3px green;
}
.regFormLabel{
	position: absolute;
}
#nameReg{
	position: relative;
}
.fornameReg{
	position: absolute;
	top: 48px;
	left: 21px;
	font-size: 10px;
	
}
